In [1]:
import configparser
import os
from pyspark.sql import SparkSession
from pyspark.sql.functions import udf, col
from pyspark.sql.functions import year, month, dayofmonth, hour, weekofyear, date_format
from pyspark.sql.types import TimestampType
import pyspark.sql.functions as F
import datetime

In [2]:
config = configparser.ConfigParser()

In [3]:
config.read('dl.cfg')

['dl.cfg']

In [4]:
os.environ['AWS_ACCESS_KEY_ID']=config['AWS']['AWS_ACCESS_KEY_ID']
os.environ['AWS_SECRET_ACCESS_KEY'] =config['AWS']['AWS_SECRET_ACCESS_KEY']

In [5]:
spark = SparkSession \
        .builder \
        .config("spark.jars.packages", "org.apache.hadoop:hadoop-aws:2.7.0") \
        .getOrCreate()

In [31]:
input_data = "s3a://udacity-dend"

In [32]:
song_data = os.path.join(input_data, "song_data/*/*/*/*.json")

In [14]:
song_df.printSchema()

root
 |-- artist_id: string (nullable = true)
 |-- artist_latitude: double (nullable = true)
 |-- artist_location: string (nullable = true)
 |-- artist_longitude: double (nullable = true)
 |-- artist_name: string (nullable = true)
 |-- duration: double (nullable = true)
 |-- num_songs: long (nullable = true)
 |-- song_id: string (nullable = true)
 |-- title: string (nullable = true)
 |-- year: long (nullable = true)

In [15]:
print('Extract columns to create song table')
artist_id = "artist_id"
artist_latitude = "artist_latitude"
artist_location = "artist_location"
artist_longitude = "artist_longitude"
artist_name = "artist_name"
duration = "duration"
num_songs = "num_songs"
song_id = "song_id"
title = "title"
year = "year"

Extract columns to create song table

In [ ]:
print('Songs table: ')
song_table = song_df.select(song_id, title, artist_id, year, duration)
print(song_table.toPandas())

In [11]:
print (song_table)

DataFrame[song_id: string, title: string, artist_id: string, year: bigint, duration: double]

In [ ]:
#create temp view
song_df_table = song_table.createOrReplaceTempView("song_df_table")

In [ ]:
#create sql query to partition on year and artist_id
song_table = spark.sql(
                        """SELECT DISTINCT song_id, title, artist_id, year, duration
                        FROM song_df_table 
                        """
                      )

In [13]:
song_table.show()

+------------------+--------------------+------------------+----+----------+
|           song_id|               title|         artist_id|year|  duration|
+------------------+--------------------+------------------+----+----------+
|SOBTCUI12A8AE48B70|Faust: Ballet Mus...|ARSUVLW12454A4C8B8|   0|  94.56281|
|SOXRPUH12AB017F769|Exodus: Part I: M...|ARXQC081187FB4AD42|   0|1047.71873|
|SOVNKJI12A8C13CB0D|Take It To Da Hou...|ARWUNH81187FB4A3E0|2001| 227.10812|
|SOAFBCP12A8C13CC7D|King Of Scurf (20...|ARTC1LV1187B9A4858|1972| 301.40036|
|SOKTJDS12AF72A25E5|Drown In My Own T...|ARA23XO1187B9AF18F|   0|   192.522|
|SOYVBGZ12A6D4F92A8|Piano Sonata No. ...|ARLRWBW1242077EB29|   0| 221.70077|
|SOGXFIF12A58A78CC4|Hanging On (Mediu...|AR5LZJD1187FB4C5E5|   0| 204.06812|
|SOQAUGD12A58A7A92D|The Gold (Dubmati...|ARV3PXE1187B98E680|2008| 289.01832|
|SOEHWGF12A6D4F8B2B|Hips Don't Lie (f...|AR6PJ8R1187FB5AD70|   0| 217.36444|
|SOYQDUJ12A8C13F773|Shine On (Acousti...|ARWDPT81187B99C656|   0| 173.63546|
|SOBBUGU12A8C13E95D|Setting Fire to S...|ARMAC4T1187FB3FA4C|2004| 207.77751|
|SOEKAZG12AB018837E|I'll Slap Your Fa...|ARSVTNL1187B992A91|2001| 129.85424|
|SOSIJKW12A8C1330E3|A God In An Alcov...|ARKIQCZ1187B9A7C7C|   0| 248.65914|
|SOXCWTT12AC9075756| The Vitalized Shell|ARZEWUR1187FB53DC8|2010| 240.74404|
|SOAXZZG12A6D4FA49D|Make A Move (2006...|ARZ5VKP1187FB3BB2F|   0| 227.60444|
|SOSYVIZ12A8C141964|The Last Word (Am...|ARV2V751187FB4330F|2000| 256.80934|
|SODBHKO12A58A77F36|Fingers Of Love (...|ARKGS2Z1187FB494B5|   0| 335.93424|
|SONYPOM12A8C13B2D7|I Think My Wife I...|ARDNS031187B9924F0|2005| 186.48771|
|SOFKLRD12A58A7C947|Funny In My Mind ...|ARS927Z1187B9ACA29|2002| 284.44689|
|SOLGAPB12A8C13EA19|Flight Of The Boo...|ARUG14R1187FB3E2E8|2002| 258.06322|
+------------------+--------------------+------------------+----+----------+
only showing top 20 rows

In [48]:
output_data = "s3a://dend-project-datalake"

In [ ]:
song_table.write.partitionBy('year', 'artist_id').parquet(os.path.join(output_data, 'songs'), 'overwrite')

In [ ]:
print('Artist table: ')
artist_table = song_df.select(artist_id, artist_name, artist_location, artist_longitude, artist_latitude)
print(artist_table.toPandas())

In [18]:
artist_df_table = artist_table.createOrReplaceTempView("artist_df_table")

In [19]:
#create sql query to 
artist_table = spark.sql(
                        """SELECT DISTINCT artist_id, artist_name, artist_location, artist_longitude, artist_latitude
                        FROM artist_df_table 
                        """
                      )

In [20]:
artist_table.show()

+------------------+--------------------+-----------------+----------------+---------------+
|         artist_id|         artist_name|  artist_location|artist_longitude|artist_latitude|
+------------------+--------------------+-----------------+----------------+---------------+
|ARMJAGH1187FB546F3|        The Box Tops|      Memphis, TN|       -90.04892|       35.14968|
|ARKCTSM11F4C83C839|     Igor Stravinsky|                 |            null|           null|
|AR8YYNB1187B9A4BB3|       Assemblage 23|                 |            null|           null|
|ARDDQKN1187FB50651|              Rednex|                 |            null|           null|
|AR2L9A61187B9ADDBC|     Tangerine Dream|  Berlin, Germany|        13.37698|       52.51607|
|AR54HGU1187FB5ACDE|          Girug√§mesh|                 |            null|           null|
|ARSZ7L31187FB4E610|           Devotchka|       Denver, CO|      -104.99226|       39.74001|
|ARH5D6D1187FB4C572|            Karunesh|  California - SF|      -122.42005|       37.77916|
|AR1H1GY1187B991F17|Tasavallan Presid...|                 |            null|           null|
|AR16XZ11187B9A97F0|       Blue Mountain|                 |            null|           null|
|ARYAUMZ1187B9A2A40|      Spandau Ballet|       London, UK|        -0.12714|       51.50632|
|ARMG6K31187FB55677|   Deekline & Wizard|                 |            null|           null|
|ARRU15I1187B9A2E35|               Lorie|       Sony Music|            null|           null|
|AR4RY4E1187B9912E5|          Wax Poetic|         New York|            null|           null|
|ARANOZN1187B9B373E|         Descendents|  Los Angeles, CA|            null|           null|
|ARDHKG01187FB4CBDE|          Yo Majesty|        Tampa, FL|       -82.45927|       27.94653|
|ARUUV9X1187B98A4F3|     Jessica Andrews|                 |            null|           null|
|ARJEOGL1187B98E9D4|                Klee| Cologne, Germany|            null|           null|
|ARJNIUY12298900C91|        Adelitas Way|                 |            null|           null|
|AR73AIO1187B9AD57B|   Western Addiction|San Francisco, CA|      -122.42005|       37.77916|
+------------------+--------------------+-----------------+----------------+---------------+
only showing top 20 rows

In [23]:
artist_table.write.parquet(os.path.join(output_data, 'artists'), 'overwrite')

In [ ]:
log_data = os.path.join(input_data, "log_data/*/*/*.json")

In [7]:
log_df = spark.read.json(log_data)

In [8]:
log_df.printSchema()

root
 |-- artist: string (nullable = true)
 |-- auth: string (nullable = true)
 |-- firstName: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- itemInSession: long (nullable = true)
 |-- lastName: string (nullable = true)
 |-- length: double (nullable = true)
 |-- level: string (nullable = true)
 |-- location: string (nullable = true)
 |-- method: string (nullable = true)
 |-- page: string (nullable = true)
 |-- registration: double (nullable = true)
 |-- sessionId: long (nullable = true)
 |-- song: string (nullable = true)
 |-- status: long (nullable = true)
 |-- ts: long (nullable = true)
 |-- userAgent: string (nullable = true)
 |-- userId: string (nullable = true)

In [9]:
log_df.count()

8056

In [10]:
artist= 'artist'
auth= 'auth'
firstName= 'firstName'
gender= 'gender'
itemInSession= 'itemInSession'
lastName= 'lastName'
length= 'length'
level= 'level'
location= 'location'
method= 'method'
page= 'page'
registration= 'registration'
sessionId= 'sessionId'
song= 'song'
status= 'status'
ts= 'ts'
userAgent= 'userAgent'
userId= 'userId'
timestamp='timestamp'
start_time='start_time'
hour = 'hour'
day='day'
week='week'
month='month'
year='year'
weekday='weekday'

In [11]:
print('Users table: ')
users_table = log_df.select(firstName, lastName, gender, level, userId)
print(users_table.limit(5).toPandas())

Users table:
  firstName lastName gender level userId
0      Ryan    Smith      M  free     26
1      Ryan    Smith      M  free     26
2      Ryan    Smith      M  free     26
3     Wyatt    Scott      M  free      9
4    Austin  Rosales      M  free     12

In [12]:
#create the users temp_view 
users_df_table = users_table.createOrReplaceTempView("users_df_table")

In [13]:
#create sql query to 
users_table = spark.sql(
                        """SELECT DISTINCT firstName, lastName, gender, level, userId
                        FROM users_df_table 
                        """
                      )

In [53]:
users_table.show()

+---------+--------+------+-----+------+
|firstName|lastName|gender|level|userId|
+---------+--------+------+-----+------+
|     Lily|  Cooper|     F| free|    59|
|     Ryan|   Smith|     M| free|    26|
|  Shakira|    Hunt|     F| free|    84|
|  Kynnedi| Sanchez|     F| free|    89|
|   Jordan|   Hicks|     F| free|    37|
|   Martin| Johnson|     M| free|    55|
|    Wyatt|   Scott|     M| free|     9|
|   Jaleah|   Hayes|     F| paid|    70|
|   Cienna| Freeman|     F| free|    56|
|   Hayden|   Brock|     F| paid|    72|
|     null|    null|  null| free|      |
|  Jizelle|Benjamin|     F| free|     2|
|     Lily|   Burns|     F| free|    32|
|   Sylvie|    Cruz|     F| free|    10|
|     Kate| Harrell|     F| paid|    97|
|  Matthew|   Jones|     M| paid|    36|
|     Sara| Johnson|     F| paid|    95|
|   Austin| Rosales|     M| free|    12|
|Katherine|     Gay|     F| free|    57|
|    Tegan|  Levine|     F| paid|    80|
+---------+--------+------+-----+------+
only showing top 20 rows

In [56]:
users_table.write.parquet(os.path.join(output_data, 'users'), 'overwrite')

In [14]:
#create timestamp column from original timestamp column
get_timestamp = udf(lambda x: datetime.datetime.fromtimestamp(x / 1000), TimestampType())

In [15]:
log_df = log_df.withColumn("timestamp", get_timestamp(log_df.ts))

In [16]:
log_df.printSchema()

root
 |-- artist: string (nullable = true)
 |-- auth: string (nullable = true)
 |-- firstName: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- itemInSession: long (nullable = true)
 |-- lastName: string (nullable = true)
 |-- length: double (nullable = true)
 |-- level: string (nullable = true)
 |-- location: string (nullable = true)
 |-- method: string (nullable = true)
 |-- page: string (nullable = true)
 |-- registration: double (nullable = true)
 |-- sessionId: long (nullable = true)
 |-- song: string (nullable = true)
 |-- status: long (nullable = true)
 |-- ts: long (nullable = true)
 |-- userAgent: string (nullable = true)
 |-- userId: string (nullable = true)
 |-- timestamp: timestamp (nullable = true)

In [17]:
# create datetime column from original timestamp colum
get_datetime = udf(lambda x: F.to_date(x), TimestampType())

In [18]:
log_df = log_df.withColumn("start_time", get_timestamp(log_df.ts))

In [19]:
log_df.printSchema()

root
 |-- artist: string (nullable = true)
 |-- auth: string (nullable = true)
 |-- firstName: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- itemInSession: long (nullable = true)
 |-- lastName: string (nullable = true)
 |-- length: double (nullable = true)
 |-- level: string (nullable = true)
 |-- location: string (nullable = true)
 |-- method: string (nullable = true)
 |-- page: string (nullable = true)
 |-- registration: double (nullable = true)
 |-- sessionId: long (nullable = true)
 |-- song: string (nullable = true)
 |-- status: long (nullable = true)
 |-- ts: long (nullable = true)
 |-- userAgent: string (nullable = true)
 |-- userId: string (nullable = true)
 |-- timestamp: timestamp (nullable = true)
 |-- start_time: timestamp (nullable = true)

In [20]:
# extract columns to create time table
log_df = log_df.withColumn("hour", F.hour("timestamp"))
log_df = log_df.withColumn("day", F.dayofweek("timestamp"))
log_df = log_df.withColumn("week", F.weekofyear("timestamp"))
log_df = log_df.withColumn("month", F.month("timestamp"))
log_df = log_df.withColumn("year", F.year("timestamp"))
log_df = log_df.withColumn("weekday", F.dayofweek("timestamp"))

In [21]:
log_df.printSchema()

root
 |-- artist: string (nullable = true)
 |-- auth: string (nullable = true)
 |-- firstName: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- itemInSession: long (nullable = true)
 |-- lastName: string (nullable = true)
 |-- length: double (nullable = true)
 |-- level: string (nullable = true)
 |-- location: string (nullable = true)
 |-- method: string (nullable = true)
 |-- page: string (nullable = true)
 |-- registration: double (nullable = true)
 |-- sessionId: long (nullable = true)
 |-- song: string (nullable = true)
 |-- status: long (nullable = true)
 |-- ts: long (nullable = true)
 |-- userAgent: string (nullable = true)
 |-- userId: string (nullable = true)
 |-- timestamp: timestamp (nullable = true)
 |-- start_time: timestamp (nullable = true)
 |-- hour: integer (nullable = true)
 |-- day: integer (nullable = true)
 |-- week: integer (nullable = true)
 |-- month: integer (nullable = true)
 |-- year: integer (nullable = true)
 |-- weekday: integer (nullable = true)

In [22]:
artist= 'artist'
auth= 'auth'
firstName= 'firstName'
gender= 'gender'
itemInSession= 'itemInSession'
lastName= 'lastName'
length= 'length'
level= 'level'
location= 'location'
method= 'method'
page= 'page'
registration= 'registration'
sessionId= 'sessionId'
song= 'song'
status= 'status'
ts= 'ts'
userAgent= 'userAgent'
userId= 'userId'
timestamp='timestamp'
start_time='start_time'
hour = 'hour'
day='day'
week='week'
month='month'
year='year'
weekday='weekday'
timestamp='timestamp'
start_time = 'start_time'
hour = 'hour'
day = 'day'
week = 'week'
month = 'month'
year = 'year'
weekday = 'weekday'

In [23]:
time_table = log_df.select(start_time, hour, day, week, month, year, weekday)

In [24]:
time_table.show()

+--------------------+----+---+----+-----+----+-------+
|          start_time|hour|day|week|month|year|weekday|
+--------------------+----+---+----+-----+----+-------+
|2018-11-15 00:30:...|   0|  5|  46|   11|2018|      5|
|2018-11-15 00:41:...|   0|  5|  46|   11|2018|      5|
|2018-11-15 00:45:...|   0|  5|  46|   11|2018|      5|
|2018-11-15 01:57:...|   1|  5|  46|   11|2018|      5|
|2018-11-15 03:29:...|   3|  5|  46|   11|2018|      5|
|2018-11-15 03:44:...|   3|  5|  46|   11|2018|      5|
|2018-11-15 03:44:...|   3|  5|  46|   11|2018|      5|
|2018-11-15 05:34:...|   5|  5|  46|   11|2018|      5|
|2018-11-15 05:37:...|   5|  5|  46|   11|2018|      5|
|2018-11-15 05:48:...|   5|  5|  46|   11|2018|      5|
|2018-11-15 05:53:...|   5|  5|  46|   11|2018|      5|
|2018-11-15 05:55:...|   5|  5|  46|   11|2018|      5|
|2018-11-15 06:01:...|   6|  5|  46|   11|2018|      5|
|2018-11-15 06:01:...|   6|  5|  46|   11|2018|      5|
|2018-11-15 06:07:...|   6|  5|  46|   11|2018|      5|
|2018-11-15 06:10:...|   6|  5|  46|   11|2018|      5|
|2018-11-15 06:13:...|   6|  5|  46|   11|2018|      5|
|2018-11-15 06:14:...|   6|  5|  46|   11|2018|      5|
|2018-11-15 06:17:...|   6|  5|  46|   11|2018|      5|
|2018-11-15 06:18:...|   6|  5|  46|   11|2018|      5|
+--------------------+----+---+----+-----+----+-------+
only showing top 20 rows

In [25]:
time_table.count()

8056

In [26]:
#create temp view
time_table.createOrReplaceTempView("time_table_df")

In [27]:
#create sql query to partition on year and artist_id
time_table = spark.sql(
        """SELECT DISTINCT start_time, hour, day, week, month, year, weekday
           FROM time_table_df 
        """)

In [30]:
time_table.count()

8023

In [118]:
time_table.write.partitionBy('year', 'month').parquet(os.path.join(output_data, 'time'), 'overwrite')

In [39]:
log_df_table=log_df.createOrReplaceTempView("log_df_table")

In [40]:
song_df_table=song_df.createOrReplaceTempView("song_df_table")

In [50]:
songplays_table = spark.sql(
        """SELECT DISTINCT log_df_table.start_time, log_df_table.userId, log_df_table.level, log_df_table.sessionId, log_df_table.location,log_df_table.userAgent, 
        song_df_table.song_id, song_df_table.artist_id,time_table_df.year,time_table_df.month
        FROM log_df_table 
        INNER JOIN song_df_table 
        ON song_df_table.artist_name = log_df_table.artist 
        INNER JOIN time_table_df
        ON time_table_df.start_time = log_df_table.start_time
        """)

In [52]:
songplays_table.show()

+--------------------+------+-----+---------+--------------------+--------------------+------------------+------------------+----+-----+
|          start_time|userId|level|sessionId|            location|           userAgent|           song_id|         artist_id|year|month|
+--------------------+------+-----+---------+--------------------+--------------------+------------------+------------------+----+-----+
|2018-11-14 12:18:...|    29| paid|      559|Atlanta-Sandy Spr...|"Mozilla/5.0 (Mac...|SOFEAMD12AB017F1C2|AR8W8P31187B9A4063|2018|   11|
|2018-11-13 14:11:...|    29| paid|      486|Atlanta-Sandy Spr...|"Mozilla/5.0 (Mac...|SOLGHDZ12AB0183B11|ARF2EHS1187B994F4E|2018|   11|
|2018-11-21 14:52:...|    26| free|      811|San Jose-Sunnyval...|"Mozilla/5.0 (X11...|SOLFPLO12AB0189A69|ARCBRSD11C8A42B798|2018|   11|
|2018-11-20 03:02:...|    85| paid|      658|       Red Bluff, CA|"Mozilla/5.0 (Mac...|SOLJCCO12A6701F987|ARR6LWJ1187FB44C8B|2018|   11|
|2018-11-27 17:39:...|    36| paid|      957|Janesville-Beloit...|"Mozilla/5.0 (Win...|SOYQDUJ12A8C13F773|ARWDPT81187B99C656|2018|   11|
|2018-11-08 07:22:...|    80| paid|      342|Portland-South Po...|"Mozilla/5.0 (Mac...|SOJEVZW12A8C133988|ARYO9BU1187B9ADA88|2018|   11|
|2018-11-15 07:47:...|    49| paid|      606|San Francisco-Oak...|Mozilla/5.0 (Wind...|SOSKUNI12AB0187F12|ARZWK2R1187B98F09F|2018|   11|
|2018-11-05 03:04:...|    52| free|      226|Houston-The Woodl...|Mozilla/5.0 (Wind...|SODOLVO12B0B80B2F4|AR6XPWV1187B9ADAEB|2018|   11|
|2018-11-15 10:20:...|    30| paid|      324|San Jose-Sunnyval...|Mozilla/5.0 (Wind...|SOFVOQL12A6D4F7456|ARPN0Y61187B9ABAA0|2018|   11|
|2018-11-05 17:11:...|    73| paid|      255|Tampa-St. Petersb...|"Mozilla/5.0 (Mac...|SOFWVCZ12A8C1462BF|ARNSMZT1187B98E003|2018|   11|
|2018-11-08 09:11:...|    80| paid|      342|Portland-South Po...|"Mozilla/5.0 (Mac...|SODGPPX12A8C133C55|ARUPWVD1187FB4DA36|2018|   11|
|2018-11-06 23:26:...|    80| free|      307|Portland-South Po...|"Mozilla/5.0 (Mac...|SOOVJEF12A67ADE8D7|ARB8Q2P1187FB4D05D|2018|   11|
|2018-11-30 03:55:...|    24| paid|     1051|Lake Havasu City-...|"Mozilla/5.0 (Win...|SOAADAD12A8C13D5B0|ARQTC851187B9B03AF|2018|   11|
|2018-11-15 22:56:...|    44| paid|      619|Waterloo-Cedar Fa...|Mozilla/5.0 (Maci...|SOSKUNI12AB0187F12|ARZWK2R1187B98F09F|2018|   11|
|2018-11-27 17:22:...|    36| paid|      957|Janesville-Beloit...|"Mozilla/5.0 (Win...|SOMZZON12A6701D3B9|ARKUI581187B9A6856|2018|   11|
|2018-11-21 06:25:...|    97| paid|      797|Lansing-East Lans...|"Mozilla/5.0 (X11...|SOFAMRP12AF72A069E|ARMI4NV1187B99D55D|2018|   11|
|2018-11-14 11:00:...|    15| paid|      557|Chicago-Napervill...|"Mozilla/5.0 (X11...|SOWZYPQ12AAF3B1F3D|ARZJ4MI1187B9AF5AF|2018|   11|
|2018-11-13 09:58:...|    44| paid|      474|Waterloo-Cedar Fa...|Mozilla/5.0 (Maci...|SOJEVZW12A8C133988|ARYO9BU1187B9ADA88|2018|   11|
|2018-11-30 12:57:...|    49| paid|     1096|San Francisco-Oak...|Mozilla/5.0 (Wind...|SODOLVO12B0B80B2F4|AR6XPWV1187B9ADAEB|2018|   11|
|2018-11-16 20:41:...|    49| paid|      648|San Francisco-Oak...|Mozilla/5.0 (Wind...|SOXLGTI12A8C13C08B|ARGQJWL1187FB3CE9E|2018|   11|
+--------------------+------+-----+---------+--------------------+--------------------+------------------+------------------+----+-----+
only showing top 20 rows

In [53]:
songplays_table.write.partitionBy('year', 'month').parquet(os.path.join(output_data, 'songplays'), 'overwrite')